root:{}

body{
  margin: 0px;
  padding: 30px;
  overflow: hidden;
  background: #313131;
}

.tools .button{
  align-self: center;
  width: 100px;
  height: 20px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  background: #222;
  font-weight: bold;
  margin: 15px;
}

canvas{
  border: 2px solid white;
  position: relative;
  left: 500px;
  right: 500px;
}

.button{
  position: relative;
  left: 200px;
  right: 300px;
}

.answer{
  position: relative;
  left: 220px;
  right: 320px;
}


#answer {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}
